{% extends 'todolist/base.html' %}

{% block header %}
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'logout' %}">Logout</a>

    {% else %}
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'login' %}">Login</a>

    {% endif %}
    <hr>

    <div>
        {% if request.user.is_authenticated %}
        <h1>{{user|title}}'s To Do List</h1>
        
        {% else %}
        <h1>Anonymous's To Do List</h1>

        {% endif %}
        <a class="btn btn-primary" href="{% url 'task-create' %}">Add Task</a>
    </div>
{% endblock header %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <th>To Do</th>
                <th>Actions</th>
                <th></th>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{task.title}}</td>
                    <td>
                        <a href="{% url 'task-edit' task.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
                        <a href="{% url 'task-delete' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% empty %}
                    <h3>No tasks yet</h3>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}